version: "3.8"

services:
  mongodb:
    image: mongo:6
    container_name: mongodb
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_DB}
    volumes:
      - mongo-data2:/data/db
    ports:
      - "27017:27017"

  backend:
    build: .
    container_name: backend
    restart: always
    env_file:
      - .env
    depends_on:
      - mongodb
    ports:
      - "${PORT}:${PORT}"

volumes:
  mongo-data2:

