apiVersion: apps/v1
kind: Deployment
metadata: 
  name: nodejs-deployment
  labels:
    app: nodejs
spec:
  replicas: 1
  selector:
    matchLabels: 
      app: nodejs
  template:
    metadata:
      name: nodejs-pod
      labels:
        app: nodejs
    spec:
      containers:
        - name: nodejs-con
          image: gracyteresa/ultimate-bus-booking
          ports:
            - containerPort: 3000
          env:
            - name: PORT
              valueFrom:
                  configMapKeyRef:
                    name: backend-config
                    key: PORT
            - name: MONGO_URL
              valueFrom:
                  secretKeyRef:
                    name: mongo-secret
                    key: MONGO_URL
    


